/* src/styles/Header.css */
.header {
  background-color: #1a202c; /* bg-gray-900 */
  color: #ffffff; /* text-white */
  padding: 1rem; /* p-4 */
  position: sticky; /* Giữ thanh cố định */
  top: 0; /* Nằm ở phía trên cùng của trang */
  width: 100%; /* Chiều rộng 100% */
  z-index: 40; /* Đặt lên trên các phần tử khác */
  backdrop-filter: blur(10px);
  transition: background-color 0.5s;
}

.header .nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header .nav-list a {
  color: #ffffff; /* text-white */
  text-decoration: none;
}

.header .nav-list a:hover {
  color: #a0aec0; /* hover:text-gray-300 */
}
